<!-- Ion tabs -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" color="primary"></ion-icon>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search" color="primary"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
          <ion-icon name="notifications" color="primary"></ion-icon>
        </ion-tab-button>
  
      <ion-tab-button tab="mail">
          <ion-icon name="mail" color="primary"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>