<!-- Ion tabs -->
<ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
          <ion-icon name="notifications"></ion-icon>
        </ion-tab-button>
  
      <ion-tab-button tab="mail">
          <ion-icon name="mail"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>