<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header class="side-header" padding>
       <!-- Header menu -->
       <img src="./assets/icon/favicon.png" class="user-icon"/>
       <p>Alex Kariuki</p>
       <p>@alex1kariuki</p>
       <div>
        <p>1,282 Following</p>
        <p>410 Followers</p>
       </div>
      <hr>
       
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
