<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="./assets/icon/favicon.png" class="user-icon" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptions">
    <ion-slide>
      <ion-card class="live-slides">
        <img src="./assets/mara.jpg" class="live-photo" />
        <ion-button color="danger" class="live-button">LIVE</ion-button>
        <ion-card-content>
          <img src="./assets/icon/favicon.png" class="live-user-icon" />
          <div class="user-account">
            <p>Washinton Redskins</p>
            <p>@washinton_redskins</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="live-slides">
        <img src="./assets/mara.jpg" class="live-photo" />
        <ion-button color="danger" class="live-button">LIVE</ion-button>
        <ion-card-content>
          <img src="./assets/icon/favicon.png" class="live-user-icon" />
          <div class="user-account">
            <p>Washinton Redskins</p>
            <p>@washinton_redskins</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="live-slides">
        <img src="./assets/mara.jpg" class="live-photo" />
        <ion-button color="danger" class="live-button">LIVE</ion-button>
        <ion-card-content>
          <img src="./assets/icon/favicon.png" class="live-user-icon" />
          <div class="user-account">
            <p>Washinton Redskins</p>
            <p>@washinton_redskins</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="live-slides">
        <img src="./assets/mara.jpg" class="live-photo" />
        <ion-button color="danger" class="live-button">LIVE</ion-button>
        <ion-card-content>
          <img src="./assets/icon/favicon.png" class="live-user-icon" />
          <div class="user-account">
            <p>Washinton Redskins</p>
            <p>@washinton_redskins</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- Divider -->
  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-item>
        <ion-grid>
            <ion-row>
              <ion-col size="1.8">
                <div>
                  <img src="./assets/safaricom.jpg" class="user-icon" />
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <p id="username">Safaricom PLC @SafaricomPLC</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. </p>
                    <img src="./assets/mara.jpg" class="tweet-media"/>
                    <p>7,108 views</p>
                </div>
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        <div>
                            <ion-icon name="chatboxes"></ion-icon>
                            <p id="interactions">522</p>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                            <ion-icon name="sync"></ion-icon>
                            <p id="interactions">1.9k</p>
                        </div>
                      </ion-col>
                      <ion-col>
                        <div>
                            <ion-icon name="heart"></ion-icon>
                            <p id="interactions">1,498</p>
                        </div>
                      </ion-col>
                      <ion-col>
                          <div>
                              <ion-icon name="share"></ion-icon>
                          </div>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-col>
              <ion-col size="0.5">
                  <ion-icon name="arrow-down"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
